In [10]:
import pandas as pd
import numpy as np

def limit_sigma(sigma, stdev_min, stdev_max):
    if sigma < stdev_min:
        return stdev_min
    elif sigma > stdev_max:
        return stdev_max
    else:
        return sigma

data = pd.DataFrame(np.array([5232,5232,5265,5265,4521,5321,5266,5273,5271,5250,5264,5282,5291,5266,5290,5287,5282,5301,5278,5278,5298,5274,5292,5295,5290,5241,5292,5296,5263,5279,5253,5268,3807,5447,5277,5291,5277,5277,5288,5281,5301,5296,5284,5294,5301,5302,5285,5289,5289,5285]),
                             columns=['LEFT'])

data['SIGMA_LEFT'] = data['LEFT'].shift().rolling(window=15, min_periods=1).std()

q1, q3 = data['SIGMA_LEFT'].quantile([0.25, 0.75])
data['SIGMA_LEFT'] = data['SIGMA_LEFT'].apply(limit_sigma, args=(q1, q3))

display(q1,q3)
display(data)

16.722793476614882

385.37071710733517

    LEFT  SIGMA_LEFT
0   5232         NaN
1   5232         NaN
2   5265   16.722793
3   5265   19.052559
4   4521   19.052559
5   5321  325.766020
6   5266  304.662874
7   5273  282.208467
8   5271  264.450070
9   5250  249.567348
10  5264  236.249491
11  5282  225.245765
12  5291  216.181531
13  5266  208.395919
14  5290  200.774339
15  5287  194.458026
16  5282  195.232267
17  5301  195.824071
18  5278  196.551944
19  5278  196.752153
20  5298   17.083827
21  5274   16.722793
22  5292   16.722793
23  5295   16.722793
24  5290   16.722793
25  5241   16.722793
26  5292   16.722793
27  5296   16.722793
28  5263   16.722793
29  5279   16.722793
30  5253   16.722793
31  5268   17.346058
32  3807   17.650846
33  5447  380.267663
34  5277  385.370717
35  5291  385.370717
36  5277  385.370717
37  5277  385.370717
38  5288  385.370717
39  5281  385.337786
40  5301  385.177485
41  5296  385.370717
42  5284  385.370717
43  5294  385.370717
44  5301  385.370717
45  5302  385.370717
46  5285  385.370717
47  5289  385.370717
48  5289   41.777757
49  5285   16.722793